<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="BD" providerName="System.Data.SqlClient"
	connectionString="Server=localhost;Database=db_academia;Uid=coelho;Pwd=abcBolinhas12345; TrustServerCertificate=True;" />
	</connectionStrings>
	
	<appSettings>
		<add key="IdiomaRegiao" value="en-US"/>
	</appSettings>
</configuration>